PORT=XYA
MONGO_URI=ABC
# mongodb+srv://username:password@cluster0crud.hbcvjjf.mongodb.net/app-name?retryWrites=true&w=majority&appName=Cluster0CRUD
# username
# password 
# app-name 
# replace it  with original